*{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

.notification {
color: white;
display: none;
position: fixed;
top: 20px;
left: 50%;
transform: translateX(-50%);
background-color: #e23434;
color: white;
padding: 15px;
border-radius: 5px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
z-index: 1000;
align-items: center;
}
          
.notification button {
color: white;
margin-left: 15px;
padding: 5px 10px;
background-color: white;
color: #e23434;
border: none;
border-radius: 3px;
cursor: pointer;
}

.notification button:hover {
    background-color: #e23434;
}
          
/* Стили для формы */
form {
color: white;
max-width: 300px;
margin: 100px auto;
padding: 20px;
border: 1px solid #ddd;
border-radius: 5px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type="submit"] {
color: white;
background-color: #e23434;
color: white;
border: none;
cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darkred;
}

#background{
justify-content: center;
display: flex;
flex-direction: column;
align-items: center;
box-sizing: border-box;
background-repeat: no-repeat;
background-position:200% 15%;
    color: white;
position: absolute;
width: 200vh;
height: 100vh;
background-image: url('../img/Борцы2.jpg'); /* Укажите путь к вашему изображению */
background-size: cover; /* Изображение будет покрывать весь экран */
z-index: 1; /* Помещаем фон ниже остальных элементов */
  }

  a{
      color: white;
      text-decoration: none;
  }

  #username:focus{
      background-color: #FFFFE0;
  }

  #password:focus{
      background-color: #FFFFE0;
  }